.search-container {
    padding: 20px;
    background: white;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

.search-container input[type="text"] {
    width: calc(100% - 120px);
}

.view-repo{
    display: flex;
    justify-content: center;
}
